<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SAP-APP-DO-Inventory</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SAP-APP-DO-Inventory</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8ba474f93ee9495ba3e9ab63f60236b2.png" alt="SAP-APP-DO-Inventory" usemap="#id-8ba474f93ee9495ba3e9ab63f60236b2map"/>
			   <map name="id-8ba474f93ee9495ba3e9ab63f60236b2map">
				  				<area shape="rect" coords="46,1522,191,1577" href="../elements/id-702c6fdafaa54ad499ff8da25789f4d5.html"  target="element">
				  						<area shape="rect" coords="58,1450,178,1505" href="../elements/id-2d57409682fc4cb1b773f32d8dd7e0cf.html"  target="element">
				  						<area shape="rect" coords="58,1390,178,1445" href="../elements/id-0f15891e40684a9bb8d3d2bc81dfe99a.html"  target="element">
				  						<area shape="rect" coords="58,1330,178,1385" href="../elements/id-293669f4f0d24e3f9fca6f9bd61418e3.html"  target="element">
				  						<area shape="rect" coords="58,1270,178,1325" href="../elements/id-f05adbdac33941c0b1221503929eae69.html"  target="element">

				  				<area shape="rect" coords="34,1234,191,1511" href="../elements/id-065f48520f514dc98380a901fd14d8e0.html"  target="element">
				  				<area shape="rect" coords="34,1174,191,1229" href="../elements/id-71281343148049ce9a7718fabf744214.html"  target="element">
				  						<area shape="rect" coords="58,1102,178,1157" href="../elements/id-5eb97f5cd6e149e1b3cafd0a9d740080.html"  target="element">
				  						<area shape="rect" coords="58,1042,178,1097" href="../elements/id-4c1fc4763a69489586bba362f1f8c137.html"  target="element">

				  				<area shape="rect" coords="34,1006,191,1163" href="../elements/id-2e661438d8044e199862485e8e8fec1d.html"  target="element">
				  						<area shape="rect" coords="58,934,178,989" href="../elements/id-195d67a919fe487d855b2f18baf1dd90.html"  target="element">
				  						<area shape="rect" coords="58,874,178,929" href="../elements/id-dd2155710f3a44cd892abbe0f7284d94.html"  target="element">

				  				<area shape="rect" coords="34,838,191,995" href="../elements/id-529477039d324070bb6b0ef9080d62ab.html"  target="element">
				  						<area shape="rect" coords="58,766,178,821" href="../elements/id-bf0a2f373a0d44d1bd10f7c0f3c22be2.html"  target="element">
				  						<area shape="rect" coords="58,706,178,761" href="../elements/id-f216eca9c290454ba8dae609d8528983.html"  target="element">

				  				<area shape="rect" coords="34,682,191,827" href="../elements/id-24c38d8bad2f43249166e9334abd3809.html"  target="element">
				  						<area shape="rect" coords="58,610,178,665" href="../elements/id-daf56c712f0e46f0986278b90c7d0725.html"  target="element">
				  						<area shape="rect" coords="58,550,178,605" href="../elements/id-d9614986bb954b3083144c7c1637c05a.html"  target="element">
				  						<area shape="rect" coords="58,490,178,545" href="../elements/id-3fa51233aa8e4330949db74b202e8816.html"  target="element">

				  				<area shape="rect" coords="34,442,191,671" href="../elements/id-1043840dbdb741ce87adeea5e6c47fcc.html"  target="element">
				  						<area shape="rect" coords="58,370,178,425" href="../elements/id-d60a4e0a2e064852b7105f7102956a91.html"  target="element">
				  						<area shape="rect" coords="58,310,178,365" href="../elements/id-86b1d58c3df24c928daf26962ac021db.html"  target="element">
				  						<area shape="rect" coords="58,250,178,305" href="../elements/id-8494c3c78c3b40b08e1adce388e2796f.html"  target="element">

				  				<area shape="rect" coords="34,214,191,431" href="../elements/id-890f79132e5547faad35e491e2110804.html"  target="element">
				  						<area shape="rect" coords="58,142,178,197" href="../elements/id-69a7f30cf75e407c817d3ce92ec6a34c.html"  target="element">
				  						<area shape="rect" coords="58,82,178,137" href="../elements/id-4d6d0311310c49d0a05aeffb313e59bb.html"  target="element">

				  				<area shape="rect" coords="34,46,191,203" href="../elements/id-4e2296baf74043bd91d36d55e7739c1f.html"  target="element">

				  		<area shape="rect" coords="10,10,215,1595" href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
											    <td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4e2296baf74043bd91d36d55e7739c1f.html" target="element"> INVENTORY ACCOUNTING </a> </td>
													    <td> <a href="../elements/id-4e2296baf74043bd91d36d55e7739c1f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4d6d0311310c49d0a05aeffb313e59bb.html" target="element"> PRODUCT COSTING </a> </td>
															    <td> <a href="../elements/id-4d6d0311310c49d0a05aeffb313e59bb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-69a7f30cf75e407c817d3ce92ec6a34c.html" target="element"> REPORTING </a> </td>
															    <td> <a href="../elements/id-69a7f30cf75e407c817d3ce92ec6a34c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-890f79132e5547faad35e491e2110804.html" target="element"> ACCOUNTS PAYABLE </a> </td>
													    <td> <a href="../elements/id-890f79132e5547faad35e491e2110804.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8494c3c78c3b40b08e1adce388e2796f.html" target="element"> INVOICE RECEIPT </a> </td>
															    <td> <a href="../elements/id-8494c3c78c3b40b08e1adce388e2796f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-86b1d58c3df24c928daf26962ac021db.html" target="element"> VENDOR MANAGEMENT </a> </td>
															    <td> <a href="../elements/id-86b1d58c3df24c928daf26962ac021db.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d60a4e0a2e064852b7105f7102956a91.html" target="element"> VENDOR PAYMENTS </a> </td>
															    <td> <a href="../elements/id-d60a4e0a2e064852b7105f7102956a91.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-1043840dbdb741ce87adeea5e6c47fcc.html" target="element"> FINANCIAL ACCOUNTING </a> </td>
													    <td> <a href="../elements/id-1043840dbdb741ce87adeea5e6c47fcc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3fa51233aa8e4330949db74b202e8816.html" target="element"> GENERAL LEDGER ACCOUNTING  </a> </td>
															    <td> <a href="../elements/id-3fa51233aa8e4330949db74b202e8816.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d9614986bb954b3083144c7c1637c05a.html" target="element"> BANK ACCOUNTING  </a> </td>
															    <td> <a href="../elements/id-d9614986bb954b3083144c7c1637c05a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-daf56c712f0e46f0986278b90c7d0725.html" target="element"> FINANCIAL REPORTING </a> </td>
															    <td> <a href="../elements/id-daf56c712f0e46f0986278b90c7d0725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-24c38d8bad2f43249166e9334abd3809.html" target="element"> CONTROLLING </a> </td>
													    <td> <a href="../elements/id-24c38d8bad2f43249166e9334abd3809.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f216eca9c290454ba8dae609d8528983.html" target="element"> COST CENTER ACCOUNTING </a> </td>
															    <td> <a href="../elements/id-f216eca9c290454ba8dae609d8528983.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bf0a2f373a0d44d1bd10f7c0f3c22be2.html" target="element"> PROFITABILITY ANALYSIS </a> </td>
															    <td> <a href="../elements/id-bf0a2f373a0d44d1bd10f7c0f3c22be2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-529477039d324070bb6b0ef9080d62ab.html" target="element"> FIXED ASSETS ACCOUNTING </a> </td>
													    <td> <a href="../elements/id-529477039d324070bb6b0ef9080d62ab.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-dd2155710f3a44cd892abbe0f7284d94.html" target="element"> ASSET ACCOUNTING </a> </td>
															    <td> <a href="../elements/id-dd2155710f3a44cd892abbe0f7284d94.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-195d67a919fe487d855b2f18baf1dd90.html" target="element"> DEPRECIATION </a> </td>
															    <td> <a href="../elements/id-195d67a919fe487d855b2f18baf1dd90.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2e661438d8044e199862485e8e8fec1d.html" target="element"> CREDIT MANAGEMENT </a> </td>
													    <td> <a href="../elements/id-2e661438d8044e199862485e8e8fec1d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4c1fc4763a69489586bba362f1f8c137.html" target="element"> CUSTOMER MANAGEMENT </a> </td>
															    <td> <a href="../elements/id-4c1fc4763a69489586bba362f1f8c137.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5eb97f5cd6e149e1b3cafd0a9d740080.html" target="element"> CREDIT RISK MANAGEMENT </a> </td>
															    <td> <a href="../elements/id-5eb97f5cd6e149e1b3cafd0a9d740080.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-71281343148049ce9a7718fabf744214.html" target="element"> ACCOUNTS RECEIVABLE </a> </td>
													    <td> <a href="../elements/id-71281343148049ce9a7718fabf744214.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-065f48520f514dc98380a901fd14d8e0.html" target="element"> MATERIAL MANAGEMENT </a> </td>
													    <td> <a href="../elements/id-065f48520f514dc98380a901fd14d8e0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f05adbdac33941c0b1221503929eae69.html" target="element"> MATERIALS MASTER </a> </td>
															    <td> <a href="../elements/id-f05adbdac33941c0b1221503929eae69.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-293669f4f0d24e3f9fca6f9bd61418e3.html" target="element"> PURCHASING </a> </td>
															    <td> <a href="../elements/id-293669f4f0d24e3f9fca6f9bd61418e3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0f15891e40684a9bb8d3d2bc81dfe99a.html" target="element"> INVENTORY MANAGEMENT </a> </td>
															    <td> <a href="../elements/id-0f15891e40684a9bb8d3d2bc81dfe99a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2d57409682fc4cb1b773f32d8dd7e0cf.html" target="element"> MANUFACTURING </a> </td>
															    <td> <a href="../elements/id-2d57409682fc4cb1b773f32d8dd7e0cf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-702c6fdafaa54ad499ff8da25789f4d5.html" target="element"> CURRENCIES MANAGEMENT </a> </td>
													    <td> <a href="../elements/id-702c6fdafaa54ad499ff8da25789f4d5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-245e0e6cb45a4d81b418f0079e7d77c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-245e0e6cb45a4d81b418f0079e7d77c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-4e2296baf74043bd91d36d55e7739c1f.html" target="element"> INVENTORY ACCOUNTING </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-27487326fcc347ad9f48ed2cb8a4603b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27487326fcc347ad9f48ed2cb8a4603b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-890f79132e5547faad35e491e2110804.html" target="element"> ACCOUNTS PAYABLE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-024c5eea739a43f69e9fdc4898b63c3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-024c5eea739a43f69e9fdc4898b63c3f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-1043840dbdb741ce87adeea5e6c47fcc.html" target="element"> FINANCIAL ACCOUNTING </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49dc96740eb24da99853bd664f7b909f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49dc96740eb24da99853bd664f7b909f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-24c38d8bad2f43249166e9334abd3809.html" target="element"> CONTROLLING </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37e664d2d2c94fad9fb8f38a1729a66e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37e664d2d2c94fad9fb8f38a1729a66e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-529477039d324070bb6b0ef9080d62ab.html" target="element"> FIXED ASSETS ACCOUNTING </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4656eb1b82f441a4b91296438c5b0eec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4656eb1b82f441a4b91296438c5b0eec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-2e661438d8044e199862485e8e8fec1d.html" target="element"> CREDIT MANAGEMENT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea9a7003bc094e8c8f92a925b12b6cc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea9a7003bc094e8c8f92a925b12b6cc6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-71281343148049ce9a7718fabf744214.html" target="element"> ACCOUNTS RECEIVABLE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f1b9b4d4e0346259726d9b1faffedf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f1b9b4d4e0346259726d9b1faffedf1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-065f48520f514dc98380a901fd14d8e0.html" target="element"> MATERIAL MANAGEMENT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a76b7967b514a4b9bccdda8b5aa1068.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a76b7967b514a4b9bccdda8b5aa1068.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-702c6fdafaa54ad499ff8da25789f4d5.html" target="element"> CURRENCIES MANAGEMENT </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-aa44d05742e5443e8572ed4491301a11.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa44d05742e5443e8572ed4491301a11.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-4e2296baf74043bd91d36d55e7739c1f.html" target="element"> INVENTORY ACCOUNTING </a> </td>
																				<td> <a href="../elements/id-4d6d0311310c49d0a05aeffb313e59bb.html" target="element"> PRODUCT COSTING </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-84d521efdc5244558a5e915f9d6c19b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-84d521efdc5244558a5e915f9d6c19b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-4e2296baf74043bd91d36d55e7739c1f.html" target="element"> INVENTORY ACCOUNTING </a> </td>
																				<td> <a href="../elements/id-69a7f30cf75e407c817d3ce92ec6a34c.html" target="element"> REPORTING </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-08766e234be1427597b5d4a9df96581f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08766e234be1427597b5d4a9df96581f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-890f79132e5547faad35e491e2110804.html" target="element"> ACCOUNTS PAYABLE </a> </td>
																				<td> <a href="../elements/id-8494c3c78c3b40b08e1adce388e2796f.html" target="element"> INVOICE RECEIPT </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dade2d36b1074273bba115073d23fb88.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dade2d36b1074273bba115073d23fb88.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-890f79132e5547faad35e491e2110804.html" target="element"> ACCOUNTS PAYABLE </a> </td>
																				<td> <a href="../elements/id-86b1d58c3df24c928daf26962ac021db.html" target="element"> VENDOR MANAGEMENT </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-93e6bd43b1074999baa32c55f16a1dbd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-93e6bd43b1074999baa32c55f16a1dbd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-890f79132e5547faad35e491e2110804.html" target="element"> ACCOUNTS PAYABLE </a> </td>
																				<td> <a href="../elements/id-d60a4e0a2e064852b7105f7102956a91.html" target="element"> VENDOR PAYMENTS </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a1024f927cbc4dcd853fb899aeb62d72.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1024f927cbc4dcd853fb899aeb62d72.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-1043840dbdb741ce87adeea5e6c47fcc.html" target="element"> FINANCIAL ACCOUNTING </a> </td>
																				<td> <a href="../elements/id-3fa51233aa8e4330949db74b202e8816.html" target="element"> GENERAL LEDGER ACCOUNTING  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e3504d05f40142b58c10c67b46b30be9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e3504d05f40142b58c10c67b46b30be9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-1043840dbdb741ce87adeea5e6c47fcc.html" target="element"> FINANCIAL ACCOUNTING </a> </td>
																				<td> <a href="../elements/id-d9614986bb954b3083144c7c1637c05a.html" target="element"> BANK ACCOUNTING  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23c687c221e748e3882e333dff1436c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23c687c221e748e3882e333dff1436c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-1043840dbdb741ce87adeea5e6c47fcc.html" target="element"> FINANCIAL ACCOUNTING </a> </td>
																				<td> <a href="../elements/id-daf56c712f0e46f0986278b90c7d0725.html" target="element"> FINANCIAL REPORTING </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-297042ae42a349f9bde3d82a2705dc5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-297042ae42a349f9bde3d82a2705dc5c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-24c38d8bad2f43249166e9334abd3809.html" target="element"> CONTROLLING </a> </td>
																				<td> <a href="../elements/id-f216eca9c290454ba8dae609d8528983.html" target="element"> COST CENTER ACCOUNTING </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-586c483bceb44a81b1670248d22bbf2e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-586c483bceb44a81b1670248d22bbf2e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-24c38d8bad2f43249166e9334abd3809.html" target="element"> CONTROLLING </a> </td>
																				<td> <a href="../elements/id-bf0a2f373a0d44d1bd10f7c0f3c22be2.html" target="element"> PROFITABILITY ANALYSIS </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-dc16a32d5be548b8830619420b50e53d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc16a32d5be548b8830619420b50e53d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-529477039d324070bb6b0ef9080d62ab.html" target="element"> FIXED ASSETS ACCOUNTING </a> </td>
																				<td> <a href="../elements/id-dd2155710f3a44cd892abbe0f7284d94.html" target="element"> ASSET ACCOUNTING </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-279a476586564a889cd6895736c09009.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-279a476586564a889cd6895736c09009.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-529477039d324070bb6b0ef9080d62ab.html" target="element"> FIXED ASSETS ACCOUNTING </a> </td>
																				<td> <a href="../elements/id-195d67a919fe487d855b2f18baf1dd90.html" target="element"> DEPRECIATION </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-61f96418888d47299ca4892b21799780.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-61f96418888d47299ca4892b21799780.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-2e661438d8044e199862485e8e8fec1d.html" target="element"> CREDIT MANAGEMENT </a> </td>
																				<td> <a href="../elements/id-4c1fc4763a69489586bba362f1f8c137.html" target="element"> CUSTOMER MANAGEMENT </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0db059f9670f44d4aeb2d421db624e46.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0db059f9670f44d4aeb2d421db624e46.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-2e661438d8044e199862485e8e8fec1d.html" target="element"> CREDIT MANAGEMENT </a> </td>
																				<td> <a href="../elements/id-5eb97f5cd6e149e1b3cafd0a9d740080.html" target="element"> CREDIT RISK MANAGEMENT </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-d535514fd03a4588be61e321659d5a17.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d535514fd03a4588be61e321659d5a17.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-065f48520f514dc98380a901fd14d8e0.html" target="element"> MATERIAL MANAGEMENT </a> </td>
																				<td> <a href="../elements/id-f05adbdac33941c0b1221503929eae69.html" target="element"> MATERIALS MASTER </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8d513115163a4fdd8b7bfcb7430c1972.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d513115163a4fdd8b7bfcb7430c1972.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-065f48520f514dc98380a901fd14d8e0.html" target="element"> MATERIAL MANAGEMENT </a> </td>
																				<td> <a href="../elements/id-293669f4f0d24e3f9fca6f9bd61418e3.html" target="element"> PURCHASING </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ef4be70e4f98441f95a5ec61d3bfca80.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ef4be70e4f98441f95a5ec61d3bfca80.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-065f48520f514dc98380a901fd14d8e0.html" target="element"> MATERIAL MANAGEMENT </a> </td>
																				<td> <a href="../elements/id-0f15891e40684a9bb8d3d2bc81dfe99a.html" target="element"> INVENTORY MANAGEMENT </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-83a158bce3144dba8a220a7c886aeb0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-83a158bce3144dba8a220a7c886aeb0e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-065f48520f514dc98380a901fd14d8e0.html" target="element"> MATERIAL MANAGEMENT </a> </td>
																				<td> <a href="../elements/id-2d57409682fc4cb1b773f32d8dd7e0cf.html" target="element"> MANUFACTURING </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>