<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ADP-APP-DO-Inventory</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ADP-APP-DO-Inventory</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b4661b9308b4b49a8f4fabcf3591b34.png" alt="ADP-APP-DO-Inventory" usemap="#id-8b4661b9308b4b49a8f4fabcf3591b34map"/>
			   <map name="id-8b4661b9308b4b49a8f4fabcf3591b34map">
				  				<area shape="rect" coords="502,286,622,341" href="../elements/id-4a1fb4eda00543739fed0a9123f4bd72.html"  target="element">
				  				<area shape="rect" coords="370,286,490,341" href="../elements/id-b8b2b283de2b44c8bb28e4203728f146.html"  target="element">
				  				<area shape="rect" coords="238,286,358,341" href="../elements/id-a23a1fc9164e4c738edb9f368c3fead1.html"  target="element">

				  		<area shape="rect" coords="226,250,767,359" href="../elements/id-729bd9a44ab1432dbe7a1f7eb94627a7.html"  target="element">
				  				<area shape="rect" coords="238,169,358,224" href="../elements/id-ef1952c68c4a4e8dbfd430589d3a9669.html"  target="element">

				  		<area shape="rect" coords="226,130,767,239" href="../elements/id-5fd3305bbd904daf9b82e31ed9118875.html"  target="element">
				  				<area shape="rect" coords="634,46,754,101" href="../elements/id-2a354360b8c442199e64a39aee5e2eb1.html"  target="element">
				  				<area shape="rect" coords="502,46,622,101" href="../elements/id-c875fb27b6424e1c8f7ceaf893b6a12c.html"  target="element">
				  				<area shape="rect" coords="370,46,490,101" href="../elements/id-78132500a30a456a99fd9b7a7694fe78.html"  target="element">
				  				<area shape="rect" coords="238,46,358,101" href="../elements/id-d0a32a4adc754f0d8b43a7684f6658b1.html"  target="element">

				  		<area shape="rect" coords="226,10,767,119" href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html"  target="element">
				  				<area shape="rect" coords="34,286,154,341" href="../elements/id-7d84f81a18e0467a852b8fd6ac36c5f5.html"  target="element">
				  				<area shape="rect" coords="34,166,154,221" href="../elements/id-d19cc474b47f4737a2f96111557dad9a.html"  target="element">
				  				<area shape="rect" coords="34,46,154,101" href="../elements/id-68fbc05ccbcc4642b57cec8e676a4c45.html"  target="element">

				  		<area shape="rect" coords="10,10,167,359" href="../elements/id-3f424bf1084a40c196f25f5496b02cca.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3f424bf1084a40c196f25f5496b02cca.html" target="element"> ADP </a> </td>
											    <td> <a href="../elements/id-3f424bf1084a40c196f25f5496b02cca.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-68fbc05ccbcc4642b57cec8e676a4c45.html" target="element"> HCM </a> </td>
													    <td> <a href="../elements/id-68fbc05ccbcc4642b57cec8e676a4c45.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d19cc474b47f4737a2f96111557dad9a.html" target="element"> Payroll </a> </td>
													    <td> <a href="../elements/id-d19cc474b47f4737a2f96111557dad9a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7d84f81a18e0467a852b8fd6ac36c5f5.html" target="element"> Timekeeping </a> </td>
													    <td> <a href="../elements/id-7d84f81a18e0467a852b8fd6ac36c5f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html" target="element"> ADP HCM Data Objects </a> </td>
											    <td> <a href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d0a32a4adc754f0d8b43a7684f6658b1.html" target="element"> Approving Manager </a> </td>
													    <td> <a href="../elements/id-d0a32a4adc754f0d8b43a7684f6658b1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78132500a30a456a99fd9b7a7694fe78.html" target="element"> Benefits Enrollment </a> </td>
													    <td> <a href="../elements/id-78132500a30a456a99fd9b7a7694fe78.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c875fb27b6424e1c8f7ceaf893b6a12c.html" target="element"> Compensation </a> </td>
													    <td> <a href="../elements/id-c875fb27b6424e1c8f7ceaf893b6a12c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a354360b8c442199e64a39aee5e2eb1.html" target="element"> Persons </a> </td>
													    <td> <a href="../elements/id-2a354360b8c442199e64a39aee5e2eb1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5fd3305bbd904daf9b82e31ed9118875.html" target="element"> ADP Payroll Data Objects </a> </td>
											    <td> <a href="../elements/id-5fd3305bbd904daf9b82e31ed9118875.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ef1952c68c4a4e8dbfd430589d3a9669.html" target="element"> Payroll Summary Report </a> </td>
													    <td> <a href="../elements/id-ef1952c68c4a4e8dbfd430589d3a9669.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729bd9a44ab1432dbe7a1f7eb94627a7.html" target="element"> ADP Timekeeping Data Objects </a> </td>
											    <td> <a href="../elements/id-729bd9a44ab1432dbe7a1f7eb94627a7.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a23a1fc9164e4c738edb9f368c3fead1.html" target="element"> Timecard </a> </td>
													    <td> <a href="../elements/id-a23a1fc9164e4c738edb9f368c3fead1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b8b2b283de2b44c8bb28e4203728f146.html" target="element"> Schedules </a> </td>
													    <td> <a href="../elements/id-b8b2b283de2b44c8bb28e4203728f146.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a1fb4eda00543739fed0a9123f4bd72.html" target="element"> PTO </a> </td>
													    <td> <a href="../elements/id-4a1fb4eda00543739fed0a9123f4bd72.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-df41a7c0a92242758722873252f99fe9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df41a7c0a92242758722873252f99fe9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3f424bf1084a40c196f25f5496b02cca.html" target="element"> ADP </a> </td>
																		<td> <a href="../elements/id-68fbc05ccbcc4642b57cec8e676a4c45.html" target="element"> HCM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6070296103b463a8939df7aeb4495c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6070296103b463a8939df7aeb4495c3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3f424bf1084a40c196f25f5496b02cca.html" target="element"> ADP </a> </td>
																		<td> <a href="../elements/id-d19cc474b47f4737a2f96111557dad9a.html" target="element"> Payroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ffaeb968090c4fd885831fc0a6cb5269.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffaeb968090c4fd885831fc0a6cb5269.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3f424bf1084a40c196f25f5496b02cca.html" target="element"> ADP </a> </td>
																		<td> <a href="../elements/id-7d84f81a18e0467a852b8fd6ac36c5f5.html" target="element"> Timekeeping </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e658b5e95ec349cf9307a100f1df84b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e658b5e95ec349cf9307a100f1df84b7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-68fbc05ccbcc4642b57cec8e676a4c45.html" target="element"> HCM </a> </td>
																				<td> <a href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html" target="element"> ADP HCM Data Objects </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-00cc3d93c8a842a8aa204a875b66ef8f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-00cc3d93c8a842a8aa204a875b66ef8f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d19cc474b47f4737a2f96111557dad9a.html" target="element"> Payroll </a> </td>
																				<td> <a href="../elements/id-5fd3305bbd904daf9b82e31ed9118875.html" target="element"> ADP Payroll Data Objects </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7462d0df3fd94b85908de9c74188efee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7462d0df3fd94b85908de9c74188efee.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-7d84f81a18e0467a852b8fd6ac36c5f5.html" target="element"> Timekeeping </a> </td>
																				<td> <a href="../elements/id-729bd9a44ab1432dbe7a1f7eb94627a7.html" target="element"> ADP Timekeeping Data Objects </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d48d94c12f9b4c539d7004f26fb8c556.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d48d94c12f9b4c539d7004f26fb8c556.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html" target="element"> ADP HCM Data Objects </a> </td>
																		<td> <a href="../elements/id-d0a32a4adc754f0d8b43a7684f6658b1.html" target="element"> Approving Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42c81702dbe543dcb4e911c94ab2c0aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42c81702dbe543dcb4e911c94ab2c0aa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html" target="element"> ADP HCM Data Objects </a> </td>
																		<td> <a href="../elements/id-78132500a30a456a99fd9b7a7694fe78.html" target="element"> Benefits Enrollment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a40181197f794f508cc22593eaf2394d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a40181197f794f508cc22593eaf2394d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html" target="element"> ADP HCM Data Objects </a> </td>
																		<td> <a href="../elements/id-c875fb27b6424e1c8f7ceaf893b6a12c.html" target="element"> Compensation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c76629ea5d51492bb9fdffcbe9f78a1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c76629ea5d51492bb9fdffcbe9f78a1c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d1e90d6839f24dc5aaac51cc166dc9ed.html" target="element"> ADP HCM Data Objects </a> </td>
																		<td> <a href="../elements/id-2a354360b8c442199e64a39aee5e2eb1.html" target="element"> Persons </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dc68b7008fc5434fa6e9ee77861aba49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc68b7008fc5434fa6e9ee77861aba49.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-5fd3305bbd904daf9b82e31ed9118875.html" target="element"> ADP Payroll Data Objects </a> </td>
																		<td> <a href="../elements/id-ef1952c68c4a4e8dbfd430589d3a9669.html" target="element"> Payroll Summary Report </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7ed2e3d7c15745519c112c5d8b993005.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ed2e3d7c15745519c112c5d8b993005.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-729bd9a44ab1432dbe7a1f7eb94627a7.html" target="element"> ADP Timekeeping Data Objects </a> </td>
																		<td> <a href="../elements/id-a23a1fc9164e4c738edb9f368c3fead1.html" target="element"> Timecard </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7d00f6eefce4f638ac8b95d3b2a76b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7d00f6eefce4f638ac8b95d3b2a76b9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-729bd9a44ab1432dbe7a1f7eb94627a7.html" target="element"> ADP Timekeeping Data Objects </a> </td>
																		<td> <a href="../elements/id-b8b2b283de2b44c8bb28e4203728f146.html" target="element"> Schedules </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c23b474f87641539b2611230401549a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c23b474f87641539b2611230401549a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-729bd9a44ab1432dbe7a1f7eb94627a7.html" target="element"> ADP Timekeeping Data Objects </a> </td>
																		<td> <a href="../elements/id-4a1fb4eda00543739fed0a9123f4bd72.html" target="element"> PTO </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>