<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>KEEN-DAS-Integration-Order DO</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>KEEN-DAS-Integration-Order DO</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b1c4af3919a444b4bd1202f12c93dd10.png" alt="KEEN-DAS-Integration-Order DO" usemap="#id-b1c4af3919a444b4bd1202f12c93dd10map"/>
			   <map name="id-b1c4af3919a444b4bd1202f12c93dd10map">
				  		<area shape="rect" coords="826,1126,946,1181" href="../elements/c2f9b76e-5af1-4605-8ad8-e412f0aff6dc.html"  target="element">
				  		<area shape="rect" coords="406,1194,526,1249" href="../elements/id-e56e92033894463b987af10f0074293a.html"  target="element">
				  		<area shape="rect" coords="406,1126,526,1181" href="../elements/id-654ab73c4a274579b8e7583c9505e0ea.html"  target="element">
				  		<area shape="rect" coords="10,1126,130,1181" href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html"  target="element">
				  		<area shape="rect" coords="190,670,310,725" href="../elements/id-fb349717a303485ebf0e19fa2ba21c60.html"  target="element">
				  		<area shape="rect" coords="190,514,310,569" href="../elements/id-f0d39f7819554227917046f7aa804c30.html"  target="element">
				  		<area shape="rect" coords="826,670,946,725" href="../elements/38ed8d3c-4d90-44da-bbda-11f43b0c91c1.html"  target="element">
				  		<area shape="rect" coords="658,670,778,725" href="../elements/id-bf5f483a06c747a8bf2dc93d77d64f27.html"  target="element">
				  		<area shape="rect" coords="826,514,946,569" href="../elements/7b6b0fa0-cfff-47de-b9d8-1971172821f6.html"  target="element">
				  		<area shape="rect" coords="646,514,766,569" href="../elements/id-649c54d2219e4a14bbeff32d9563fb45.html"  target="element">
				  		<area shape="rect" coords="406,886,526,941" href="../elements/id-f67360168b00476a86bdb80e82e0bdca.html"  target="element">
				  		<area shape="rect" coords="658,814,778,869" href="../elements/id-fbb8835a97d849d69cd491d7af575110.html"  target="element">
				  		<area shape="rect" coords="190,958,310,1013" href="../elements/id-b5782d290abc4a0c8a7320b09d1d4861.html"  target="element">
				  		<area shape="rect" coords="826,814,946,869" href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html"  target="element">
				  		<area shape="rect" coords="406,814,526,869" href="../elements/id-ead14f76d8ab419e852c34a12110a27e.html"  target="element">
				  		<area shape="rect" coords="190,814,310,869" href="../elements/id-139749dbbd754966b53a6e640b5ee1f1.html"  target="element">
				  		<area shape="rect" coords="406,1030,526,1085" href="../elements/id-cb03449070254f8faf9884e5da571956.html"  target="element">
				  		<area shape="rect" coords="406,958,526,1013" href="../elements/id-90145f8d263e4001bb3c17ec3696900d.html"  target="element">
				  		<area shape="rect" coords="658,958,778,1013" href="../elements/id-d916f2b734f54068aaae088ff1ed47d9.html"  target="element">
				  		<area shape="rect" coords="826,958,946,1013" href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html"  target="element">
				  		<area shape="rect" coords="406,742,526,797" href="../elements/id-e12fd8db1fbd4661ac6affec660b2c1e.html"  target="element">
				  		<area shape="rect" coords="406,670,526,725" href="../elements/id-0fe52448a4624988a5da2372d4d9ed9c.html"  target="element">
				  		<area shape="rect" coords="406,586,526,641" href="../elements/id-c317eeeac9674d6b9fbc4c510f31540f.html"  target="element">
				  		<area shape="rect" coords="406,514,526,569" href="../elements/id-36febf576bae4a26a57fa2e39e6d8ccf.html"  target="element">
				  		<area shape="rect" coords="178,87,310,142" href="../elements/id-d0c3f3d9d0854ac780d92a282bde56a2.html"  target="element">
				  		<area shape="rect" coords="10,87,130,142" href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html"  target="element">
				  		<area shape="rect" coords="826,87,946,142" href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html"  target="element">
				  		<area shape="rect" coords="646,87,766,142" href="../elements/id-0d5881ad694545b79f4eb3cf1fc2ac14.html"  target="element">
				  		<area shape="rect" coords="646,358,766,413" href="../elements/id-d7dc8b34e46a42a1a46b2b31386262b7.html"  target="element">
				  		<area shape="rect" coords="826,358,946,413" href="../elements/d75c7241-7cc3-4e38-8067-a346b57d0285.html"  target="element">
				  		<area shape="rect" coords="406,430,526,485" href="../elements/id-76bd17e852be466188313e833416e408.html"  target="element">
				  		<area shape="rect" coords="406,358,526,413" href="../elements/id-a5e8571c862d4660879511e0d75a4b60.html"  target="element">
				  		<area shape="rect" coords="190,358,310,413" href="../elements/id-f5468c5aa8a54ea889c2475dccefed5c.html"  target="element">
				  		<area shape="rect" coords="10,358,130,413" href="../elements/id-824e39c81b2b40deb654db3952ecaa16.html"  target="element">
				  		<area shape="rect" coords="406,178,526,233" href="../elements/id-df6b3130d2e943a8ac094e1322940f8b.html"  target="element">
				  		<area shape="rect" coords="406,250,526,321" href="../elements/id-55829e495a014ea88681837cb1b1c462.html"  target="element">
				  		<area shape="rect" coords="406,84,526,146" href="../elements/id-5fc402050da044948ecf33bb0b3dbf52.html"  target="element">
				  		<area shape="rect" coords="406,10,526,65" href="../elements/id-35482844339e493eb8ccda6df2887a9f.html"  target="element">
				  		<area shape="rect" coords="10,958,130,1013" href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html"  target="element">
				  		<area shape="rect" coords="190,1762,310,1817" href="../elements/id-034cf681231f40d8bdd76b338aab81b3.html"  target="element">
				  		<area shape="rect" coords="190,1852,310,1907" href="../elements/id-40dbe0c9f9974dafb663e0c9e404a0f2.html"  target="element">
				  		<area shape="rect" coords="10,1798,130,1853" href="../elements/id-98d822f8e4bd4d5bb14c2776738e09cf.html"  target="element">
				  		<area shape="rect" coords="10,586,130,641" href="../elements/id-4fb47bc3f8584b02ae3313b3eaeda55b.html"  target="element">
				  		<area shape="rect" coords="10,1582,130,1637" href="../elements/38ed8d3c-4d90-44da-bbda-11f43b0c91c1.html"  target="element">
				  		<area shape="rect" coords="190,1486,310,1541" href="../elements/id-ba8d63514d0546f49b4567adf7febdf8.html"  target="element">
				  		<area shape="rect" coords="10,1486,130,1541" href="../elements/c2f9b76e-5af1-4605-8ad8-e412f0aff6dc.html"  target="element">
				  		<area shape="rect" coords="10,814,130,869" href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
											    <td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2f9b76e-5af1-4605-8ad8-e412f0aff6dc.html" target="element"> SAP BW </a> </td>
											    <td> <a href="../elements/c2f9b76e-5af1-4605-8ad8-e412f0aff6dc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba8d63514d0546f49b4567adf7febdf8.html" target="element"> SAP BW Batch Files Processor Outbound </a> </td>
											    <td> <a href="../elements/id-ba8d63514d0546f49b4567adf7febdf8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/38ed8d3c-4d90-44da-bbda-11f43b0c91c1.html" target="element"> SAP BO </a> </td>
											    <td> <a href="../elements/38ed8d3c-4d90-44da-bbda-11f43b0c91c1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4fb47bc3f8584b02ae3313b3eaeda55b.html" target="element"> KEEN Analytics </a> </td>
											    <td> <a href="../elements/id-4fb47bc3f8584b02ae3313b3eaeda55b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98d822f8e4bd4d5bb14c2776738e09cf.html" target="element"> SF Commerce </a> </td>
											    <td> <a href="../elements/id-98d822f8e4bd4d5bb14c2776738e09cf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40dbe0c9f9974dafb663e0c9e404a0f2.html" target="element"> SF Batch Files Processor Outbound </a> </td>
											    <td> <a href="../elements/id-40dbe0c9f9974dafb663e0c9e404a0f2.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-034cf681231f40d8bdd76b338aab81b3.html" target="element"> Salesforce Http Outbound </a> </td>
											    <td> <a href="../elements/id-034cf681231f40d8bdd76b338aab81b3.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element"> SPS </a> </td>
											    <td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-35482844339e493eb8ccda6df2887a9f.html" target="element"> ACS-SPS </a> </td>
											    <td> <a href="../elements/id-35482844339e493eb8ccda6df2887a9f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5fc402050da044948ecf33bb0b3dbf52.html" target="element"> Advance Shipping Notifications InforNexus </a> </td>
											    <td> <a href="../elements/id-5fc402050da044948ecf33bb0b3dbf52.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55829e495a014ea88681837cb1b1c462.html" target="element"> Shipment Status Updates InforNexus </a> </td>
											    <td> <a href="../elements/id-55829e495a014ea88681837cb1b1c462.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df6b3130d2e943a8ac094e1322940f8b.html" target="element"> ACS-SPS </a> </td>
											    <td> <a href="../elements/id-df6b3130d2e943a8ac094e1322940f8b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-824e39c81b2b40deb654db3952ecaa16.html" target="element"> Redshift </a> </td>
											    <td> <a href="../elements/id-824e39c81b2b40deb654db3952ecaa16.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5468c5aa8a54ea889c2475dccefed5c.html" target="element"> AWS Batch File Processor Outbound </a> </td>
											    <td> <a href="../elements/id-f5468c5aa8a54ea889c2475dccefed5c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5e8571c862d4660879511e0d75a4b60.html" target="element"> AWS_Redshift-Secret_Sauce </a> </td>
											    <td> <a href="../elements/id-a5e8571c862d4660879511e0d75a4b60.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76bd17e852be466188313e833416e408.html" target="element"> Orders </a> </td>
											    <td> <a href="../elements/id-76bd17e852be466188313e833416e408.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d75c7241-7cc3-4e38-8067-a346b57d0285.html" target="element"> Secret Sauce </a> </td>
											    <td> <a href="../elements/d75c7241-7cc3-4e38-8067-a346b57d0285.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7dc8b34e46a42a1a46b2b31386262b7.html" target="element"> Secret Sauce FTP </a> </td>
											    <td> <a href="../elements/id-d7dc8b34e46a42a1a46b2b31386262b7.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d5881ad694545b79f4eb3cf1fc2ac14.html" target="element"> SPS EDI Processor Inbound </a> </td>
											    <td> <a href="../elements/id-0d5881ad694545b79f4eb3cf1fc2ac14.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element"> SPS </a> </td>
											    <td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html" target="element"> ACS (Allport Cargo Services) </a> </td>
											    <td> <a href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0c3f3d9d0854ac780d92a282bde56a2.html" target="element"> ACS Batch Files Processor Outbound </a> </td>
											    <td> <a href="../elements/id-d0c3f3d9d0854ac780d92a282bde56a2.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36febf576bae4a26a57fa2e39e6d8ccf.html" target="element"> Keen_Analytics-Vanguard </a> </td>
											    <td> <a href="../elements/id-36febf576bae4a26a57fa2e39e6d8ccf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c317eeeac9674d6b9fbc4c510f31540f.html" target="element"> Orders </a> </td>
											    <td> <a href="../elements/id-c317eeeac9674d6b9fbc4c510f31540f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0fe52448a4624988a5da2372d4d9ed9c.html" target="element"> Keen_Analytics-SAPBO </a> </td>
											    <td> <a href="../elements/id-0fe52448a4624988a5da2372d4d9ed9c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e12fd8db1fbd4661ac6affec660b2c1e.html" target="element"> Orders </a> </td>
											    <td> <a href="../elements/id-e12fd8db1fbd4661ac6affec660b2c1e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html" target="element"> ACS (Allport Cargo Services) </a> </td>
											    <td> <a href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d916f2b734f54068aaae088ff1ed47d9.html" target="element"> ACS Batch Files Processor Inbound </a> </td>
											    <td> <a href="../elements/id-d916f2b734f54068aaae088ff1ed47d9.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90145f8d263e4001bb3c17ec3696900d.html" target="element"> SPS-ACS </a> </td>
											    <td> <a href="../elements/id-90145f8d263e4001bb3c17ec3696900d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb03449070254f8faf9884e5da571956.html" target="element"> Purchase Orders </a> </td>
											    <td> <a href="../elements/id-cb03449070254f8faf9884e5da571956.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-139749dbbd754966b53a6e640b5ee1f1.html" target="element"> SAP AFS Batch Files Processor Outbound </a> </td>
											    <td> <a href="../elements/id-139749dbbd754966b53a6e640b5ee1f1.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ead14f76d8ab419e852c34a12110a27e.html" target="element"> SAPAFS-SPS </a> </td>
											    <td> <a href="../elements/id-ead14f76d8ab419e852c34a12110a27e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element"> SPS </a> </td>
											    <td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5782d290abc4a0c8a7320b09d1d4861.html" target="element"> SPS EDI Processor Outbound </a> </td>
											    <td> <a href="../elements/id-b5782d290abc4a0c8a7320b09d1d4861.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbb8835a97d849d69cd491d7af575110.html" target="element"> SPS Batch Files Processor Inbound </a> </td>
											    <td> <a href="../elements/id-fbb8835a97d849d69cd491d7af575110.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f67360168b00476a86bdb80e82e0bdca.html" target="element"> Purchase Orders </a> </td>
											    <td> <a href="../elements/id-f67360168b00476a86bdb80e82e0bdca.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-649c54d2219e4a14bbeff32d9563fb45.html" target="element"> EXAVALT FTP inbound </a> </td>
											    <td> <a href="../elements/id-649c54d2219e4a14bbeff32d9563fb45.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b6b0fa0-cfff-47de-b9d8-1971172821f6.html" target="element"> Vanguard </a> </td>
											    <td> <a href="../elements/7b6b0fa0-cfff-47de-b9d8-1971172821f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf5f483a06c747a8bf2dc93d77d64f27.html" target="element"> SAP BO DB Connector </a> </td>
											    <td> <a href="../elements/id-bf5f483a06c747a8bf2dc93d77d64f27.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/38ed8d3c-4d90-44da-bbda-11f43b0c91c1.html" target="element"> SAP BO </a> </td>
											    <td> <a href="../elements/38ed8d3c-4d90-44da-bbda-11f43b0c91c1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0d39f7819554227917046f7aa804c30.html" target="element"> KEEN Analytics Batch Files Processor Outbound </a> </td>
											    <td> <a href="../elements/id-f0d39f7819554227917046f7aa804c30.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb349717a303485ebf0e19fa2ba21c60.html" target="element"> KEEN Analytics DB Connector </a> </td>
											    <td> <a href="../elements/id-fb349717a303485ebf0e19fa2ba21c60.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
											    <td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-654ab73c4a274579b8e7583c9505e0ea.html" target="element"> SAPAFS-SAPBW </a> </td>
											    <td> <a href="../elements/id-654ab73c4a274579b8e7583c9505e0ea.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e56e92033894463b987af10f0074293a.html" target="element"> Purchase Orders </a> </td>
											    <td> <a href="../elements/id-e56e92033894463b987af10f0074293a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2f9b76e-5af1-4605-8ad8-e412f0aff6dc.html" target="element"> SAP BW </a> </td>
											    <td> <a href="../elements/c2f9b76e-5af1-4605-8ad8-e412f0aff6dc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b5dae0fc53634fd99a90b097b23e39e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5dae0fc53634fd99a90b097b23e39e3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-ccd4d05dfa22495cbb36c4194d2046f2.html" target="element"> SAP AFS </a> </td>
																		<td> <a href="../elements/id-139749dbbd754966b53a6e640b5ee1f1.html" target="element"> SAP AFS Batch Files Processor Outbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f76465a5c8d449da77a06da52ff0d50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f76465a5c8d449da77a06da52ff0d50.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/c2f9b76e-5af1-4605-8ad8-e412f0aff6dc.html" target="element"> SAP BW </a> </td>
																		<td> <a href="../elements/id-ba8d63514d0546f49b4567adf7febdf8.html" target="element"> SAP BW Batch Files Processor Outbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-546a69f21f944ec295f66e7efa216626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-546a69f21f944ec295f66e7efa216626.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-4fb47bc3f8584b02ae3313b3eaeda55b.html" target="element"> KEEN Analytics </a> </td>
																		<td> <a href="../elements/id-f0d39f7819554227917046f7aa804c30.html" target="element"> KEEN Analytics Batch Files Processor Outbound </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc392120df634d399f56e5a7cc41f6dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc392120df634d399f56e5a7cc41f6dc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-4fb47bc3f8584b02ae3313b3eaeda55b.html" target="element"> KEEN Analytics </a> </td>
																		<td> <a href="../elements/id-fb349717a303485ebf0e19fa2ba21c60.html" target="element"> KEEN Analytics DB Connector </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b549a855ec64b7db3ba3a68ebf0d9ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b549a855ec64b7db3ba3a68ebf0d9ad.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-98d822f8e4bd4d5bb14c2776738e09cf.html" target="element"> SF Commerce </a> </td>
																		<td> <a href="../elements/id-40dbe0c9f9974dafb663e0c9e404a0f2.html" target="element"> SF Batch Files Processor Outbound </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6847973fa6d6412f9c7d44118d6c609e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6847973fa6d6412f9c7d44118d6c609e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-98d822f8e4bd4d5bb14c2776738e09cf.html" target="element"> SF Commerce </a> </td>
																		<td> <a href="../elements/id-034cf681231f40d8bdd76b338aab81b3.html" target="element"> Salesforce Http Outbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4c23b324cbdb49c0a393a8acf2898542.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c23b324cbdb49c0a393a8acf2898542.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element"> SPS </a> </td>
																		<td> <a href="../elements/id-b5782d290abc4a0c8a7320b09d1d4861.html" target="element"> SPS EDI Processor Outbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a59d1eeaab74c27a198706286c1b646.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a59d1eeaab74c27a198706286c1b646.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-35482844339e493eb8ccda6df2887a9f.html" target="element"> ACS-SPS </a> </td>
																		<td> <a href="../elements/id-5fc402050da044948ecf33bb0b3dbf52.html" target="element"> Advance Shipping Notifications InforNexus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51b35de6dcc446df89761c2e3561af14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51b35de6dcc446df89761c2e3561af14.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-35482844339e493eb8ccda6df2887a9f.html" target="element"> ACS-SPS </a> </td>
																		<td> <a href="../elements/id-0d5881ad694545b79f4eb3cf1fc2ac14.html" target="element"> SPS EDI Processor Inbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e8e193c87b9f42a1a2a324b87fed8692.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8e193c87b9f42a1a2a324b87fed8692.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-df6b3130d2e943a8ac094e1322940f8b.html" target="element"> ACS-SPS </a> </td>
																		<td> <a href="../elements/id-55829e495a014ea88681837cb1b1c462.html" target="element"> Shipment Status Updates InforNexus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81077521525547fea481b3439236535e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81077521525547fea481b3439236535e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-df6b3130d2e943a8ac094e1322940f8b.html" target="element"> ACS-SPS </a> </td>
																		<td> <a href="../elements/id-0d5881ad694545b79f4eb3cf1fc2ac14.html" target="element"> SPS EDI Processor Inbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-872b5dcc11b04c46b4f6188d76e03a87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872b5dcc11b04c46b4f6188d76e03a87.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-824e39c81b2b40deb654db3952ecaa16.html" target="element"> Redshift </a> </td>
																		<td> <a href="../elements/id-f5468c5aa8a54ea889c2475dccefed5c.html" target="element"> AWS Batch File Processor Outbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7e810c1e9f946f3aa118c4212b6b6d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7e810c1e9f946f3aa118c4212b6b6d4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-f5468c5aa8a54ea889c2475dccefed5c.html" target="element"> AWS Batch File Processor Outbound </a> </td>
																		<td> <a href="../elements/id-a5e8571c862d4660879511e0d75a4b60.html" target="element"> AWS_Redshift-Secret_Sauce </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-168e339e45b14aa3a9b31aed587e6858.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-168e339e45b14aa3a9b31aed587e6858.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-a5e8571c862d4660879511e0d75a4b60.html" target="element"> AWS_Redshift-Secret_Sauce </a> </td>
																		<td> <a href="../elements/id-76bd17e852be466188313e833416e408.html" target="element"> Orders </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2438b0d56a944b7aa5306890cfeb43bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2438b0d56a944b7aa5306890cfeb43bb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-a5e8571c862d4660879511e0d75a4b60.html" target="element"> AWS_Redshift-Secret_Sauce </a> </td>
																		<td> <a href="../elements/id-d7dc8b34e46a42a1a46b2b31386262b7.html" target="element"> Secret Sauce FTP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-99f3b0ae329541c5813c79bac224ccdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99f3b0ae329541c5813c79bac224ccdc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-d7dc8b34e46a42a1a46b2b31386262b7.html" target="element"> Secret Sauce FTP </a> </td>
																		<td> <a href="../elements/d75c7241-7cc3-4e38-8067-a346b57d0285.html" target="element"> Secret Sauce </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b4c1f8045f8f44b4871461d58637f29a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4c1f8045f8f44b4871461d58637f29a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-0d5881ad694545b79f4eb3cf1fc2ac14.html" target="element"> SPS EDI Processor Inbound </a> </td>
																		<td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element"> SPS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8219b97fad4b4b2f99264bb5454e3f0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8219b97fad4b4b2f99264bb5454e3f0a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html" target="element"> ACS (Allport Cargo Services) </a> </td>
																		<td> <a href="../elements/id-d0c3f3d9d0854ac780d92a282bde56a2.html" target="element"> ACS Batch Files Processor Outbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00369c6b959e4da2add31a1f29f78fa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00369c6b959e4da2add31a1f29f78fa3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-d0c3f3d9d0854ac780d92a282bde56a2.html" target="element"> ACS Batch Files Processor Outbound </a> </td>
																		<td> <a href="../elements/id-35482844339e493eb8ccda6df2887a9f.html" target="element"> ACS-SPS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f79fef7ce5ee41a2a36302fef7020d33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f79fef7ce5ee41a2a36302fef7020d33.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-d0c3f3d9d0854ac780d92a282bde56a2.html" target="element"> ACS Batch Files Processor Outbound </a> </td>
																		<td> <a href="../elements/id-df6b3130d2e943a8ac094e1322940f8b.html" target="element"> ACS-SPS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2851c100d1b9405293d5f59f16736021.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2851c100d1b9405293d5f59f16736021.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-36febf576bae4a26a57fa2e39e6d8ccf.html" target="element"> Keen_Analytics-Vanguard </a> </td>
																		<td> <a href="../elements/id-c317eeeac9674d6b9fbc4c510f31540f.html" target="element"> Orders </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f753b227b654d46943dc243019b5d21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f753b227b654d46943dc243019b5d21.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-36febf576bae4a26a57fa2e39e6d8ccf.html" target="element"> Keen_Analytics-Vanguard </a> </td>
																		<td> <a href="../elements/id-649c54d2219e4a14bbeff32d9563fb45.html" target="element"> EXAVALT FTP inbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fd0e8045bfd34446b1e6db2ba0934d29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd0e8045bfd34446b1e6db2ba0934d29.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0fe52448a4624988a5da2372d4d9ed9c.html" target="element"> Keen_Analytics-SAPBO </a> </td>
																		<td> <a href="../elements/id-e12fd8db1fbd4661ac6affec660b2c1e.html" target="element"> Orders </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d570043efbd6440a9322c44e4338c779.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d570043efbd6440a9322c44e4338c779.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-0fe52448a4624988a5da2372d4d9ed9c.html" target="element"> Keen_Analytics-SAPBO </a> </td>
																		<td> <a href="../elements/id-bf5f483a06c747a8bf2dc93d77d64f27.html" target="element"> SAP BO DB Connector </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-268ca113c1584302837a2e39a524fdd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-268ca113c1584302837a2e39a524fdd0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-d916f2b734f54068aaae088ff1ed47d9.html" target="element"> ACS Batch Files Processor Inbound </a> </td>
																		<td> <a href="../elements/18d04e6c-d608-4242-a3f0-f0d2abf99c5f.html" target="element"> ACS (Allport Cargo Services) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4c67607e2d3746538a5fba3a6167f588.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c67607e2d3746538a5fba3a6167f588.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-90145f8d263e4001bb3c17ec3696900d.html" target="element"> SPS-ACS </a> </td>
																		<td> <a href="../elements/id-cb03449070254f8faf9884e5da571956.html" target="element"> Purchase Orders </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4092ad6d9084acb9bce7964e6a29b9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4092ad6d9084acb9bce7964e6a29b9b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-90145f8d263e4001bb3c17ec3696900d.html" target="element"> SPS-ACS </a> </td>
																		<td> <a href="../elements/id-d916f2b734f54068aaae088ff1ed47d9.html" target="element"> ACS Batch Files Processor Inbound </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-603057c29cfa42e3902f920965b04af8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-603057c29cfa42e3902f920965b04af8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-139749dbbd754966b53a6e640b5ee1f1.html" target="element"> SAP AFS Batch Files Processor Outbound </a> </td>
																		<td> <a href="../elements/id-ead14f76d8ab419e852c34a12110a27e.html" target="element"> SAPAFS-SPS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9fcccec5412040a7aa9501e3ddb82495.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fcccec5412040a7aa9501e3ddb82495.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-ead14f76d8ab419e852c34a12110a27e.html" target="element"> SAPAFS-SPS </a> </td>
																		<td> <a href="../elements/id-fbb8835a97d849d69cd491d7af575110.html" target="element"> SPS Batch Files Processor Inbound </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-647e88cf0d074efe9f494af141829340.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-647e88cf0d074efe9f494af141829340.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-ead14f76d8ab419e852c34a12110a27e.html" target="element"> SAPAFS-SPS </a> </td>
																		<td> <a href="../elements/id-f67360168b00476a86bdb80e82e0bdca.html" target="element"> Purchase Orders </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d47f2ea2010f47cca3c9662d67badda2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d47f2ea2010f47cca3c9662d67badda2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-b5782d290abc4a0c8a7320b09d1d4861.html" target="element"> SPS EDI Processor Outbound </a> </td>
																		<td> <a href="../elements/id-90145f8d263e4001bb3c17ec3696900d.html" target="element"> SPS-ACS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a5b0b0ca85364272b754cf8dfa757644.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5b0b0ca85364272b754cf8dfa757644.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-fbb8835a97d849d69cd491d7af575110.html" target="element"> SPS Batch Files Processor Inbound </a> </td>
																		<td> <a href="../elements/id-b20a5ddd83a14a6a8a74c595b5a40ecd.html" target="element"> SPS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8966801efb514df8a23b64685f24ae6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8966801efb514df8a23b64685f24ae6d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-649c54d2219e4a14bbeff32d9563fb45.html" target="element"> EXAVALT FTP inbound </a> </td>
																		<td> <a href="../elements/7b6b0fa0-cfff-47de-b9d8-1971172821f6.html" target="element"> Vanguard </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7edce134887740658d9643c693128b9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7edce134887740658d9643c693128b9e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-bf5f483a06c747a8bf2dc93d77d64f27.html" target="element"> SAP BO DB Connector </a> </td>
																		<td> <a href="../elements/38ed8d3c-4d90-44da-bbda-11f43b0c91c1.html" target="element"> SAP BO </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-02f5726d384646f88b307c03773da697.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02f5726d384646f88b307c03773da697.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-f0d39f7819554227917046f7aa804c30.html" target="element"> KEEN Analytics Batch Files Processor Outbound </a> </td>
																		<td> <a href="../elements/id-36febf576bae4a26a57fa2e39e6d8ccf.html" target="element"> Keen_Analytics-Vanguard </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29a3db7edf514df5a4dcc42d471ff749.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29a3db7edf514df5a4dcc42d471ff749.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-fb349717a303485ebf0e19fa2ba21c60.html" target="element"> KEEN Analytics DB Connector </a> </td>
																		<td> <a href="../elements/id-0fe52448a4624988a5da2372d4d9ed9c.html" target="element"> Keen_Analytics-SAPBO </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9e982575797d41ebb17d110f1a6d8e2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e982575797d41ebb17d110f1a6d8e2f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-654ab73c4a274579b8e7583c9505e0ea.html" target="element"> SAPAFS-SAPBW </a> </td>
																		<td> <a href="../elements/id-e56e92033894463b987af10f0074293a.html" target="element"> Purchase Orders </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>